a{
    color: white;
    text-decoration: none;
}

ul{
    list-style: none;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    background-color: rgb(0, 4, 128);
    color: white;
}

.links{
    display: flex;
    gap: 50px;
}

li:hover{
    text-decoration: underline solid 1px;
    font-weight: 500;
}

.logo{
    font-weight: 900;
    font-size: 34px;
}

.dropdown{
    position: absolute;
    background-color: rgb(0, 4, 128);
    margin: 0px;
    padding: 0px;
    min-width: 120px;
    display: none;
}

li:hover .dropdown{
    display: block;
}