a{
    color: black;
    color: white;
    text-decoration: none;
}
ul{
    list-style: none;
}
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 13%;
    background-color: rgb(0, 4, 128);
    color: white;
}
.links{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: flex-start;
}
li:hover{
    text-decoration: underline;
    font-weight: 700;
}