/* Portfolio */
body{
    padding: 0px;
    margin: 0px;
}

/* Navigation Menu */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: navy;
    position: fixed;
    width: 100vw;
    height: 10vh;
    left: 0px;
    top: 0px;
}

.links{
    list-style-type: none;
    display: flex;
    gap: 50px;
}

a{
    text-decoration: none;
    color: navy;
}

span{
    font-size: 20px;
    font-weight: 700;
}

/* Content and Image */

main{
    display: flex;
    justify-content: space-around;
}

/* Image */
.image{
    width: 380px;
    height: 380px;
    border: 3px solid navy;
    background-image: url("../IMAGE/rijan.jpeg");
    background-size: cover;
    border-radius: 50%;
    position: fixed;
    left: 5vw;
    top: 10vh;
}

h3{
    color: navy;
}

/* Content */
.content{
    width: 60%;
    /* content position */
    position: relative;
    left: 20vw;
    top: 20vh;
}